$primary: #16365e;
$secondary: #00ffb3;
$white: #fff;
$white-dark: #eceff1;
$black: #000;
$blue: #16365e;
$blue-light: #00345f;
$turquoise: #00809a;
$turquoise-dark: #004452;
$turquoise-button: #00b2dc;
$grey-darker: #444;
$grey-dark: #505050;
$grey: #646363;
$grey-light: #797979;
$grey-lighter: #959595;
$grey-breadcrumb: #d9d9d9;
$grey-text: #666;
$grey-bgtable: #dedede;
$red: #ff0e49;
$red-dark: #ab022c;
$orange: #ff7900;
$green: #00af3f;
$green-dark: #00812e;
