@charset "UTF-8";
@font-face {
  font-family: "barlow";
  src: local("Barlow"), local("barlow-medium-webfont"), url("../fonts/barlow-medium-webfont.woff2") format("woff2"), url("../fonts/barlow-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "barlowitalic";
  src: local("Barlow Italic"), local("barlow-mediumitalic-webfont"), url("../fonts/barlow-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/barlow-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "barlowbold";
  src: local("Barlow Bold"), local("barlow-bold-webfont"), url("../fonts/barlow-bold-webfont.woff2") format("woff2"), url("../fonts/barlow-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --ov-bila: #fff;
  --ov-bila--dark: #ECEFF1;
  --ov-zaklad: #16365E;
  --ov-link: #16365E;
  --ov-black: #000;
  --ov-thtable: #00345F;
  --ov-priority: #FF0E49;
  --ov-orange: #FF7900;
  --ov-red: #AB022C;
  --ov-actual: #00AF3F;
  --ov-green: #00812E;
  --ov-bgtext: #00809A;
  --ov-bgtext--dark: #004452;
  --ov-button: #00b2dc;
  --ov-breadcrumbs: #d9d9d9;
  --ov-breadcrumbstext: #666;
  --ov-bgtable: #dedede;
  --ov-footer: #646363;
  --ov-footer--lighter: #959595;
  --ov-footer--light: #797979;
  --ov-footer--darker: #444444;
  --ov-footer--dark: #505050;
}

html {
  font-family: "barlow", arial, system-ui, -apple-system, "Segoe UI", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 19px;
  margin: 0;
  padding: 0;
  color: var(--ov-cerna);
}

@media only screen and (min-width: 1921px) {
  body {
    font-size: 22px;
  }
}
button, input, select, optgroup, textarea {
  color: var(--ov-cerna);
  font-family: "barlow", arial, system-ui, -apple-system, "Segoe UI", sans-serif;
  font-size: 19px;
  line-height: 1.5;
  background-color: var(--ov-bila);
}

.hidden {
  display: none;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

a {
  background-color: transparent;
  color: var(--ov-link);
  cursor: pointer;
}

a:visited {
  color: var(--ov-link);
}

a:hover, a:focus, a:active {
  color: var(--ov-link);
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

a:focus-visible {
  outline: 2px solid var(--ov-priority);
}

ul, ol {
  margin: 0;
  padding: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.25em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

fieldset padding {
  top: 0.35em;
  right: 0.75em;
  bottom: 0.625em;
  left: 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

button, input[type=button], input[type=reset], input[type=submit] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active, button:focus, input[type=button]:active, input[type=button]:focus, input[type=reset]:active, input[type=reset]:focus, input[type=submit]:active, input[type=submit]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type=text], input[type=email], input[type=url], input[type=password], input[type=search], input[type=number], input[type=tel], input[type=range], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color], textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, input[type=search]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=range]:focus, input[type=date]:focus, input[type=month]:focus, input[type=week]:focus, input[type=time]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=color]:focus, textarea:focus {
  color: var(--ov-cerna);
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

embed, iframe, object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

::-moz-placeholder {
  color: #767676;
  opacity: 1;
}

::placeholder {
  color: #767676;
  opacity: 1;
}

/*******************************/
.none {
  display: none;
}

.main-navigation {
  display: block;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul, .main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle, .main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: flex;
  }
}
.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links, .posts-navigation .nav-links, .post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

header, section, footer {
  width: 100%;
  max-width: 101.0526em;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1921px) {
  header, section, footer {
    max-width: 100%;
  }
}
.subpage {
  padding-top: 0.3158em;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.subpage--akce {
  width: 100%;
  max-width: 43.6842em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.subpage .thumbnail {
  width: 100%;
  height: auto;
  border: 1px solid var(--ov-footer--dark);
}
.subpage p {
  line-height: 143.8%;
  text-align: left !important;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1em;
}
.subpage p:has(+ h2), .subpage p:has(+ h3), .subpage p:has(+ h4), .subpage p:has(+ table) {
  margin-bottom: 2em;
}
.subpage h1 {
  text-align: center;
  font-size: 2.5263em;
  font-weight: 700;
  line-height: 110.8%;
  text-transform: uppercase;
  color: var(--ov-zaklad);
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.subpage h2 {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--ov-bgtext);
  font-size: 1.31579em;
  line-height: 143.8%;
  margin-bottom: 1em;
}
.subpage table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--ov-thtable);
}
.subpage table th, .subpage table td {
  padding-top: 0.6842em;
  padding-bottom: 0.6842em;
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.subpage table th {
  background-color: var(--ov-thtable);
  color: var(--ov-bila);
  font-weight: 700;
  line-height: 110.8%;
  border: 2px solid var(--ov-bila);
  text-align: center;
}
.subpage table td {
  line-height: 110.8%;
  text-align: left;
  border: 2px solid var(--ov-bila);
  background-color: var(--ov-bgtable);
}
.subpage table th:has(+ td) {
  background-color: var(--ov-bgtext);
}

.subpage--kontakty {
  width: 100%;
  max-width: 70.95em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6.21053em;
}
.subpage--kontakty h2 {
  color: var(--ov-link);
  font-size: 2.5263em;
  padding-left: 0.8333em;
  padding-right: 0.8333em;
  margin-bottom: 0.8333em;
  margin-top: 1.4375em;
  border-bottom: 3px solid var(--ov-link);
  text-transform: uppercase;
  font-weight: 700;
}
.subpage--kontakty .kontakt__list {
  margin: 0;
  padding-left: 2.1053em;
  padding-right: 2.1053em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 3%;
  row-gap: 3.1em;
}
.subpage--kontakty .kontakt__item {
  flex-basis: 30%;
}
.subpage--kontakty .kontakt__title {
  color: var(--ov-bgtext);
  font-size: 1.3158em;
  display: block;
  font-weight: 700;
  min-height: 1.5em;
}
.subpage--kontakty .kontakt__name {
  color: var(--ov-bgtext);
  display: block;
  line-height: 143.8%;
}
.subpage--kontakty .kontakt__email, .subpage--kontakty .kontakt__tel {
  display: block;
  line-height: 143.8%;
}

.footer__bottom {
  font-size: 0.84211em;
  font-weight: 400;
  background-color: var(--ov-footer--darker);
  color: var(--ov-bila);
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 2.1875em;
  padding-left: 4em;
  padding-bottom: 2.1875em;
  padding-right: 4em;
}
.footer__bottom a {
  color: var(--ov-bila);
}

.footer__boxs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ov-footer);
  color: var(--ov-bila);
  padding: 0;
  margin: 0;
  align-items: stretch;
}
.footer__boxs ul {
  margin-top: 2.21053em;
  margin-left: 3.36842em;
  margin-right: 1em;
  margin-bottom: 2.21053em;
  padding: 0;
  list-style: none;
}
.footer__boxs li {
  margin-top: 0;
  margin-bottom: 1em;
}
.footer__boxs a {
  color: var(--ov-bila);
  font-weight: 600;
  text-decoration: none;
}
.footer__boxs a:hover {
  text-decoration: underline;
}

.footer__box {
  flex: 1;
}

.footer__box:nth-child(1) {
  background-color: var(--ov-footer--lighter);
}

.footer__box:nth-child(2) {
  background-color: var(--ov-footer--light);
}

.footer__box:nth-child(4) {
  background-color: var(--ov-footer--dark);
}

.footer__box:nth-child(5) {
  background-color: var(--ov-footer--dark);
}

.footer__box__pack {
  margin-top: 2.21053em;
  margin-left: 3.36842em;
  margin-right: 1em;
  margin-bottom: 2.21053em;
}
.footer__box__pack strong {
  text-transform: uppercase;
}
.footer__box__pack img {
  max-width: 10em;
  height: auto;
}

.bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--ov-zaklad);
  gap: 1.2632em;
}

.bar__ico {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 1.1053em;
  padding-top: 0.6316em;
  padding-bottom: 0.6316em;
}
@media (min-width: 768px) {
  .bar__ico {
    width: 16.8421em;
  }
}

.bar__ico__img {
  line-height: 1;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

a.bar__ico__img:focus-visible {
  outline: 2px solid white;
  padding: 0;
}

.search {
  height: 2em;
  border: 1px solid var(--ov-bila);
  background-color: var(--ov-bila);
  margin-top: 0.6316em;
  margin-bottom: 0.6316em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.search__label {
  position: absolute;
  left: -999999px;
}

input.search__input {
  border: 0;
  outline: 0;
  border-radius: 0;
  line-height: calc(2em - 2px);
  padding-top: 0;
  padding-bottom: 0;
}

button.search__btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.search:has(input.search__input:focus-visible) {
  border: 1px solid var(--ov-black);
  outline: 2px solid var(--ov-bila);
}

.topmenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  align-items: stretch;
}

.topmenu__left {
  width: calc(100% - 16.8421em - 1.2632em);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.topmenu__logo {
  padding-left: 3.2105em;
}
@media screen and (max-width: 1330px) {
  .topmenu__logo {
    padding-left: 1em;
  }
}
.topmenu__logo a.topmenu__logo__link {
  display: block;
}
.topmenu__logo a.topmenu__logo__link img {
  display: block;
  padding-top: 0.4737em;
  padding-bottom: 0.4737em;
}

.topmenu__right {
  width: 18.1053em;
  background-color: var(--ov-bgtext);
  color: var(--ov-bila);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.viewmap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.1579em;
  color: var(--ov-bila);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.94737em;
  gap: 0.5em;
}
.viewmap:hover {
  text-decoration: underline;
}

.viewmap__text {
  color: var(--ov-bila);
  font-weight: 700;
  text-decoration: none;
}

.topmenu__nav {
  margin-right: 2em;
}
.topmenu__nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1em;
}

.nav a {
  color: var(--ov-black);
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.nav a:hover, .nav a.active {
  color: var(--ov-bgtext);
}
.nav a::after {
  content: attr(data-text);
  content: attr(data-text)/"";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  font-weight: 700;
}
@media speech {
  .nav a::after {
    display: none;
  }
}

.breadcrumbs {
  width: 100%;
  background-color: var(--ov-breadcrumbs);
  padding-top: 0.68421em;
  padding-bottom: 0.68421em;
}

.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin-top: 0;
  margin-left: 3.2105em;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8421em;
}
.breadcrumbs__item span {
  color: var(--ov-breadcrumbstext);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.breadcrumbs__link {
  color: var(--ov-breadcrumbstext);
}

.breadcrumbs__item--current .breadcrumbs__link {
  text-decoration: none;
}

.navi {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8.95em;
}
.navi a {
  font-size: 1.1579em;
  color: var(--ov-bgtext);
  font-weight: 700;
  text-decoration: none;
}
.navi a:hover {
  text-decoration: underline;
}

.navi__left a {
  padding-left: 3em;
}

.navi__right a {
  padding-right: 3em;
}

.publication {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.68421em;
  margin-top: 0.76923em;
  margin-bottom: 1.92308em;
}

.formular {
  background-color: var(--ov-breadcrumbs);
  padding-top: 3.05263em;
  padding-bottom: 6.52631em;
  margin-top: 1.1579em;
  background-image: url(../img/form.png);
  background-position: calc(50% + 26em) -20px;
  background-repeat: no-repeat;
}

.formular__form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4;
  grid-column-gap: 1.1em;
  grid-row-gap: 1.1em;
  max-width: 49em;
  margin-left: auto;
  margin-right: auto;
}

.formular__title {
  width: 100%;
  max-width: 19.395839em;
  margin-left: auto;
  margin-right: auto;
  color: var(--ov-zaklad);
  font-size: 2.526315em;
  text-transform: uppercase;
  line-height: 110.8%;
  font-weight: 700;
}

.form__div--textarea {
  grid-area: 2/1/3/3;
}

.form__div--souhlas {
  grid-area: 3/1/4/3;
}

.form__div--submit {
  grid-area: 4/1/5/3;
}

.form__div {
  position: relative;
}

.form__label {
  position: absolute;
  left: -999999em;
}

.form__label--souhlas {
  position: relative;
  left: 0;
}

.form__checkbox {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.form__div--souhlas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.form__submit {
  width: 100%;
  background-color: var(--ov-zaklad);
  color: var(--ov-bila);
  box-shadow: 0 4px var(--ov-bgtext);
  border: 0;
  outline: none;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.2s;
}
.form__submit:hover {
  background-color: var(--ov-thtable);
}
.form__submit:active {
  transform: translateY(2px);
  box-shadow: 0 2px var(--ov-bgtext--dark);
}

input.form__input, textarea.form__textarea {
  width: 100%;
  border: 1px solid var(--ov-zaklad);
  background-color: var(--ov-bila);
  color: var(--ov-zaklad);
  font-size: 0.94737em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.444em;
  padding-right: 1.444em;
}

input[type=text].form__input:focus, textarea.form__textarea:focus, input[type=email].form__input:focus {
  color: var(--ov-bgtext);
  outline: 2px solid var(--ov-bgtext);
  border: 0;
}

.keyboard input[type=text].form__input:focus-visible, .keyboard input[type=checkbox].form__checkbox:focus-visible, .keyboard textarea.form__textarea:focus-visible, .keyboard input[type=email].form__input:focus-visible, .keyboard button.form__submit:focus-visible {
  outline: 2px solid var(--ov-priority);
  border: 0;
  color: var(--ov-black);
}

textarea.form__textarea {
  height: 13.3em;
}

.news {
  width: 100%;
}

.news__list {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 4.5px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 1em;
}

.news__item {
  width: 25%;
  height: 15.4411764706%;
  border-top: 8px solid var(--ov-actual);
  position: relative;
}
.news__item img {
  width: 100%;
}

.item__time {
  background-color: var(--ov-actual);
  color: var(--ov-bila);
  display: inline-block;
  padding-top: 0.421053em;
  padding-bottom: 0.421053em;
  padding-left: 0.526316em;
  padding-right: 0.526316em;
  position: absolute;
  top: -1em;
  left: 0;
}

.item__day {
  font-size: 0.894736em;
  display: block;
  line-height: 1.294118em;
  font-weight: 600;
  border-bottom: 1px solid var(--ov-bila);
  padding-bottom: 5px;
  padding-left: 0.588235em;
  padding-right: 0.588235em;
}

.item__date {
  font-size: 0.842105em;
  display: block;
  line-height: 1.125em;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 0.625em;
  padding-right: 0.625em;
}

.item__title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--ov-bila);
  background-color: var(--ov-actual);
  font-size: 1em;
  line-height: 1.2em;
  padding-left: 1.52632em;
  padding-right: 1.52632em;
  padding-top: 0.526316em;
  padding-bottom: 0.526316em;
  margin-bottom: 0;
}
.item__title a {
  color: var(--ov-bila);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.item__title:hover {
  background-color: var(--ov-bila);
}
.item__title:hover a {
  color: var(--ov-actual);
}

.news__item--primary .item__title {
  background-color: var(--ov-priority);
}
.news__item--primary .item__title:hover {
  background-color: var(--ov-bila);
}
.news__item--primary .item__title:hover a {
  color: var(--ov-priority);
}

a.news__link {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.588235em;
  padding-right: 2.588235em;
  padding-top: 1.117647em;
  padding-bottom: 1.117647em;
}

.news__more {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 1.89474em;
  padding-bottom: 1.89474em;
}

a.button {
  display: inline-block;
  font-size: 0.894737em;
  color: var(--ov-bila);
  background-color: var(--ov-link);
  border-bottom: 3px solid var(--ov-button);
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  top: 0;
}
a.button:hover {
  text-decoration: underline;
}
a.button:active {
  top: 3px;
  border-bottom-color: var(--ov-bila);
}

.advertising {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.advertising__azure {
  width: 100%;
  height: 15.789em;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(0 66%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 66%, 100% 0, 100% 100%, 0 100%);
  background-color: var(--ov-bgtext);
  z-index: 10;
}

.advertising__red {
  width: 90%;
  height: 15.789em;
  left: 0;
  bottom: 0;
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 100%, 0 100%);
  background-color: var(--ov-priority);
  z-index: 9;
}

.advertising__green {
  width: 22.474em;
  height: 22.474em;
  bottom: -12.237em;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  position: absolute;
  background-color: var(--ov-actual);
  border: 1px solid red;
  left: 4.1053em;
  z-index: 11;
}

.advertising__info {
  width: 100%;
  margin-top: 2.2106em;
  margin-bottom: 5.8421em;
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-width: 66.158em;
  margin-left: auto;
  margin-right: auto;
}

.advertising__text {
  width: 100%;
  max-width: 42.4737em;
  color: var(--ov-link);
}

.advertising__title {
  text-transform: uppercase;
  color: var(--ov-link);
  font-size: 3.6842em;
  line-height: 110.8%;
  margin: 0;
  padding: 0;
}

.advertising__athletic {
  width: 450px;
  height: 627px;
  display: block;
  background-image: url(../img/sportovec.png);
  background-repeat: no-repeat;
}

.block {
  width: 100%;
}

.block__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 66.158em;
  margin-left: auto;
  margin-right: auto;
}

.block__number {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12.1053em;
}

.block__item {
  width: 100%;
  max-width: 25.2105em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.block__title {
  border-bottom: 3px solid var(--ov-link);
  margin-top: 4.5789em;
  margin-bottom: 0;
}
.block__title h2 {
  text-align: center;
  font-size: 2.5263em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: normal;
  color: var(--ov-link);
}
.block__title h2 strong {
  font-size: 1.5416em;
  display: inline-block;
  color: var(--ov-priority);
}

.blocknumber {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5789em;
  margin-top: 2.0351em;
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
}

.blocknumber__number {
  font-size: 4em;
  color: var(--ov-link);
  line-height: normal;
}

.blocknumber__title {
  padding-bottom: 1em;
}

.blocktext {
  text-align: center;
  font-size: 1.3158em;
  width: 16.04em;
  min-height: 3.6em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  color: var(--ov-bila);
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.32em;
  padding-right: 0.32em;
  background-color: var(--ov-priority);
  position: relative;
}
.blocktext::after {
  position: absolute;
  content: "";
  width: 1.64em;
  height: 0.96em;
  background-color: var(--ov-actual);
  right: -1.64em;
}
.blocktext::before {
  position: absolute;
  content: "";
  width: 1.64em;
  height: 0.96em;
  background-color: var(--ov-actual);
  left: -1.64em;
}

.block__grey {
  background-color: var(--ov-bila--dark);
  width: 100%;
  position: relative;
}
.block__grey .block__container {
  width: 100%;
  max-width: 75.7895em;
}
.block__grey h2 {
  font-size: 3.6842em;
  color: var(--ov-link);
  text-transform: uppercase;
}
.block__grey h2 strong {
  font-size: 1.2143em;
  color: var(--ov-bila);
  background-color: var(--ov-bgtext);
  padding-left: 0.1em;
  padding-right: 0.1em;
}
.block__grey .block__item:has(h2) {
  max-width: 42.4737em;
}

.block__item--bubliny {
  position: relative;
  top: -3em;
  margin-bottom: -4em;
}

.slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider__top {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(50% 0, 20% 100%, 0 100%, 0 0);
          clip-path: polygon(50% 0, 20% 100%, 0 100%, 0 0);
  position: absolute;
  z-index: 2;
}

.slider__bottom {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-clip-path: polygon(0 50%, 45% 100%, 0 100%);
          clip-path: polygon(0 50%, 45% 100%, 0 100%);
  z-index: 3;
  position: absolute;
}

.slider__img {
  float: right;
  z-index: 1;
  width: 100%;
  height: auto;
}

.slider__icona {
  width: 20.74em;
  height: 100%;
  background-size: contain;
}

.slider__text {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 55% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 55% 100%, 0 100%);
  overflow: hidden;
  clear: both;
  z-index: 100;
  left: 22em;
  top: 3.84em;
  width: 23.5em;
  color: var(--ov-bila);
  padding: 0 5em 0 0;
}
.slider__text h2 {
  margin: 0;
  padding: 0;
  font-size: 1.421em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5em;
}
.slider__text .slider__button {
  display: inline-block;
  font-size: 0.8947em;
  padding-top: 0.5882em;
  padding-right: 2em;
  padding-bottom: 0.5882em;
  padding-left: 2em;
  color: var(--ov-zaklad);
  border: 1px solid var(--ov-zaklad);
  background-color: var(--ov-bila);
  border-bottom: 2px solid var(--ov-zaklad);
  border-radius: 2px;
  font-weight: 600;
  text-decoration: none;
}
.slider__text .slider__button:hover, .slider__text .slider__button:active {
  border-top: 2px solid var(--ov-red);
  border-bottom: 1px solid var(--ov-red);
}

.slider__block--bezec .slider__top {
  background-color: var(--ov-bgtext);
}
.slider__block--bezec .slider__bottom {
  background-color: var(--ov-actual);
}
.slider__block--bezec .slider__button {
  color: var(--ov-link);
  border: 1px solid var(--ov-link);
  border-bottom: 2px solid var(--ov-link);
}
.slider__block--bezec .slider__button:hover, .slider__block--bezec .slider__button:active {
  border-top: 2px solid var(--ov-link);
  border-bottom: 1px solid var(--ov-link);
}
.slider__block--bezec .slider__icona {
  background-image: url(../img/bezec.png);
  width: auto;
  position: relative;
  z-index: 5;
  background-repeat: no-repeat;
  background-position: left center;
}

.slider__block--bezkyne .slider__top {
  background-color: var(--ov-priority);
}
.slider__block--bezkyne .slider__bottom {
  background-color: var(--ov-orange);
}
.slider__block--bezkyne .slider__button {
  color: var(--ov-red);
  border: 1px solid var(--ov-red);
  border-bottom: 2px solid var(--ov-red);
}
.slider__block--bezkyne .slider__button:hover, .slider__block--bezkyne .slider__button:active {
  border-top: 2px solid var(--ov-red);
  border-bottom: 1px solid var(--ov-red);
}
.slider__block--bezkyne .slider__icona {
  background-image: url(../img/bezkyne.png);
  width: auto;
  position: relative;
  z-index: 5;
  background-repeat: no-repeat;
  background-position: left center;
}

.slider__block--deti .slider__top {
  background-color: var(--ov-actual);
}
.slider__block--deti .slider__bottom {
  background-color: var(--ov-priority);
}
.slider__block--deti .slider__button {
  color: var(--ov-green);
  border: 1px solid var(--ov-green);
  border-bottom: 2px solid var(--ov-green);
}
.slider__block--deti .slider__button:hover, .slider__block--deti .slider__button:active {
  border-top: 2px solid var(--ov-green);
  border-bottom: 1px solid var(--ov-green);
}
.slider__block--deti .slider__icona {
  background-image: url(../img/deti.png);
  width: auto;
  position: relative;
  z-index: 5;
  background-repeat: no-repeat;
  background-position: -3% bottom;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat;
}

@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev .slick-prev-icon:before {
  content: "←";
}
[dir=rtl] .slick-prev .slick-prev-icon:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next .slick-next-icon:before {
  content: "→";
}
[dir=rtl] .slick-next .slick-next-icon:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover .slick-dot-icon, .slick-dots li button:focus .slick-dot-icon {
  opacity: 1;
}
.slick-dots li button .slick-dot-icon {
  color: transparent;
  opacity: 1;
}
.slick-dots li button .slick-dot-icon:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 17px;
  text-align: center;
}

.slick-sr-only {
  border: 0 !important;
}

.slick-autoplay-toggle-button {
  position: absolute;
  left: 5px;
  bottom: 25px;
  z-index: 10;
  opacity: 1;
  background: none;
  border: 0;
  cursor: pointer;
}
.slick-autoplay-toggle-button:hover, .slick-autoplay-toggle-button:focus {
  outline: none;
  opacity: 1;
}
.slick-autoplay-toggle-button .slick-pause-icon:before {
  content: "⏸";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.slick-autoplay-toggle-button .slick-play-icon:before {
  content: "▶";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  height: 45px;
  width: 45px;
  border: 0;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
}
.slick-prev:hover .slick-prev-icon, .slick-prev:hover .slick-next-icon, .slick-prev:focus .slick-prev-icon, .slick-prev:focus .slick-next-icon, .slick-next:hover .slick-prev-icon, .slick-next:hover .slick-next-icon, .slick-next:focus .slick-prev-icon, .slick-next:focus .slick-next-icon {
  opacity: 1;
}
.slick-prev:focus .slick-prev-icon, .slick-prev:focus .slick-next-icon, .slick-next:focus .slick-prev-icon, .slick-next:focus .slick-next-icon {
  color: black;
  font-size: 28px;
}
.slick-prev.slick-disabled, .slick-next.slick-disabled {
  cursor: default;
}
.slick-prev .slick-prev-icon, .slick-prev .slick-next-icon, .slick-next .slick-prev-icon, .slick-next .slick-next-icon {
  opacity: 1;
}
.slick-prev .slick-prev-icon, .slick-prev .slick-next-icon, .slick-next .slick-prev-icon, .slick-next .slick-next-icon {
  display: block;
  color: transparent;
  opacity: 1;
  line-height: 1;
}

.slick-prev {
  left: 10px;
  z-index: 100;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: 10px;
}
.slick-prev .slick-prev-icon:before {
  content: "";
  background-image: url(../img/svg/prev.svg);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: block;
}
[dir=rtl] .slick-prev .slick-prev-icon {
  content: "";
  background-image: url(../img/svg/prev.svg);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: block;
  transform: rotate(180deg);
}

.slick-next {
  right: 35px;
}
[dir=rtl] .slick-next {
  left: 35px;
  right: auto;
}
.slick-next .slick-next-icon:before {
  content: "";
  background-image: url(../img/svg/prev.svg);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: block;
  transform: rotate(180deg);
}
[dir=rtl] .slick-next .slick-next-icon {
  content: "";
  background-image: url(../img/svg/prev.svg);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  display: block;
}

.slick-slider {
  margin-bottom: 30px;
}
.slick-slider.slick-dotted {
  margin-bottom: 60px;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}
.slick-dots button {
  display: block;
  height: 20px;
  width: 20px;
  margin-top: -4px;
  margin-left: -4px;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.slick-dots button:hover .slick-dot-icon, .slick-dots button:focus .slick-dot-icon {
  opacity: 1;
}
.slick-dots button:focus .slick-dot-icon:before {
  color: black;
}
.slick-dots button .slick-dot-icon {
  color: transparent;
  opacity: 1;
}
.slick-dots button .slick-dot-icon:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 11px;
  height: 11px;
  border: 2px solid var(--ov-actual);
  border-radius: 50%;
  background-color: var(--ov-bila);
  font-family: "slick";
  font-size: 6px;
  line-height: 1;
  text-align: center;
  transition: all 0.05s linear;
}
.slick-dots li.slick-active button:focus .slick-dot-icon {
  color: black;
  opacity: 1;
}
.slick-dots li.slick-active .slick-dot-icon {
  color: transparent;
  opacity: 1;
}
.slick-dots li.slick-active .slick-dot-icon:before {
  border: 2px solid var(--ov-bila);
  border-radius: 50%;
  background-color: var(--ov-actual);
}

.slick-sr-only {
  border: 0 !important;
}

.slick-autoplay-toggle-button {
  position: absolute;
  left: 5px;
  bottom: 25px;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3px;
  opacity: 1;
  background: none;
  border: 0;
  cursor: pointer;
  color: white;
}
.slick-autoplay-toggle-button:hover, .slick-autoplay-toggle-button:focus {
  opacity: 1;
}
.slick-autoplay-toggle-button:focus-visible {
  color: black;
}
.slick-autoplay-toggle-button .slick-pause-icon:before {
  content: "⏸";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
.slick-autoplay-toggle-button .slick-play-icon:before {
  content: "▶";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */