<div class="advertising__azure"></div>
<div class="advertising__red"></div>
<div class="advertising__green"></div>
<div class="advertising__info">
	<div class="advertising__text">
		<h2 class="advertising__title">Vítejte na stránkách fajnovy sport!</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam eget nisl. Suspendisse sagittis ultrices
			augue. Vivamus luctus egestas leo.
		</p>
	</div>
	<div class="advertising__athletic"></div>
</div>
