<div class="bar">
	<form class="search" role="search" action="" method="post">
		<label class="search__label" for="search"
			>Web search
			<p id="error" class="" role="alert"></p>
		</label>
		<input
			id="search"
			class="search__input"
			type="search"
			name="search"
			aria-label="Web search"
		>
		<button
			id="searchBtn"
			class="search__btn"
			type="submit"
			aria-labelledby="Search"
		>
			<img
				src="/images/svg/search.svg"
				alt="Search"
				width="22"
				height="25"
			>
		</button>
	</form>
	<div class="bar__ico">
		<a
			href=""
			class="bar__ico__img bar__ico__img--instagram"
			aria-label="External link"
		>
			<img
				src="/images/svg/instagram.svg"
				alt="Instagram"
				width="40"
				height="40"
			>
		</a>
		<a
			href=""
			class="bar__ico__img bar__ico__img--facebook"
			aria-label="External link"
		>
			<img
				src="/images/svg/facebook.svg"
				alt="Facebook"
				width="40"
				height="40"
			>
		</a>
		<a
			href=""
			class="bar__ico__img bar__ico__img--email"
			aria-label="External link"
		>
			<img
				src="/images/svg/email.svg"
				alt="Email"
				width="40"
				height="40"
			>
		</a>
	</div>
</div>
