<div class="bar">
	<form class="search" role="search" action="" method="post">
		<label class="search__label" for="search"
			>Web search
			<p id="error" class="" role="alert"></p>
		</label>
		<input
			id="search"
			class="search__input"
			type="search"
			name="search"
			aria-label="Web search"
		>
		<button
			id="searchBtn"
			class="search__btn"
			type="submit"
			aria-labelledby="Search"
		>
			<img
				src="{{templateDirectory}}/images/svg/search.svg"
				alt="Search"
				width="22"
				height="25"
			>
		</button>
	</form>
	<div class="bar__icons">
		<a
			href=""
			class="icon icon--instagram"
			aria-label="External link"
		>
			<span
				aria-label="Icon Instagram"
				class="icon__instagram"
			>
			</span>
		</a>
		<a
			href=""
			class="icon icon--facebook"
			aria-label="External link"
		>
			<span
				aria-label="Icon Facebook"
				class="icon__facebook"
			>
			</span>
		</a>
		<a
			href=""
			class="icon icon--email"
			aria-label="External link"
		>
			<span
				aria-label="Icon Email"
				class="icon__email"
			>
			</span>
		</a>
	</div>
</div>
