<div class="block__container block__title">
	<h2>V roce <strong>2024</strong> jsme podpořili</h2>
</div>
<div class="block__container block__number">
	<div class="block__item">
		<h2 class="blocknumber">
			<span class="blocknumber__number">220</span>
			<span class="blocknumber__title">projektů</span>
		</h2>
		<h3 class="blocktext">Podpořených statutárním městem Ostrava na rok 2024</h3>
	</div>
	<div class="block__item">
		<h2 class="blocknumber">
			<span class="blocknumber__number">173</span>
			<span class="blocknumber__title">milionů Kč</span>
		</h2>
		<h3 class="blocktext">Schválené finanční podpory</h3>
	</div>
</div>
