<div class="block__container">
	<div class="block__item">
		<h2><strong>Buďte i vy</strong> součástí ostravského sportu!</h2>
	</div>
	<div class="block__item block__item--bubliny">
		<img
			src="/images/bubliny.png"
			alt="grafika s textovými hesly Sport2you, Přeskoč!!!, Přelez!!!, Nepodlez!!!"
		>
	</div>
</div>
