<h1 class="subpage__title none">Kontakty</h1>

<div class="subpage__text">
	<h2>Odbor sportu</h2>
	<ul class="kontakt__list">
		<li class="kontakt__item">
			<strong class="kontakt__title">Odbor sportu</strong>
			<span class="kontakt__name">MMO Nová radnice (budova NR)</span>
			<span class="kontakt__email">Prokešovo náměstí 1803/8,</span>
			<span class="kontakt__tel">702 00 Ostrava Moravská Ostrava</span>
		</li>
		<li class="kontakt__item">
			<strong class="kontakt__title">Vedoucí odboru sportu</strong>
			<span class="kontakt__name">Ing. Michaela Mahrová, DiS.</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:michaela.mahrova@ostrava.cz">michaela.mahrova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443043">+420 599 443 043</a></span>
		</li>
		<li class="kontakt__item">
			<strong class="kontakt__title">Sekretariát</strong>
			<span class="kontakt__name">Lilien Lukášová</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:lilien.lukasova@ostrava.cz">lilien.lukasova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443042">+420 599 443 042</a></span>
		</li>
	</ul>

	<h2>Dotace</h2>
	<ul class="kontakt__list">
		<li class="kontakt__item">
			<strong class="kontakt__title">Významné sportovní kluby</strong>
			<span class="kontakt__name">Ing. Petra Teichmannová</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:michaela.mahrova@ostrava.cz">petra.teichmannova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443043">+420 599 443 085</a></span>
		</li>
		<li class="kontakt__item">
			<strong class="kontakt__title">Tělovýchova a sport</strong>
			<span class="kontakt__name">Mgr. Markéta Kročilová</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:lilien.lukasova@ostrava.cz">marketa.krocilova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443042">+420 599 442 395</a></span>
		</li>
		<li class="kontakt__item">
			<strong class="kontakt__title"></strong>
			<span class="kontakt__name">Simona Hrbáčová, DiS.</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:lilien.lukasova@ostrava.cz">simona.hrbacova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443042">+420 599 442 323</a></span>
		</li>
		<li class="kontakt__item">
			<strong class="kontakt__title">Sportovní akce</strong>
			<span class="kontakt__name">Bc. Martina Tisoňová</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:lilien.lukasova@ostrava.cz">martina.tisonova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443042">+420 599 442 433</a></span>
		</li>
		<li class="kontakt__item">
			<strong class="kontakt__title">Infrastruktura</strong>
			<span class="kontakt__name">Lucie Potschová</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:lucie.potschova@ostrava.cz">lucie.potschova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443042">+420 599 442 287</a></span>
		</li>
	</ul>

	<h2>Dotace</h2>
	<ul class="kontakt__list">
		<li class="kontakt__item">
			<span class="kontakt__name">Ing. Petra Teichmannová</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:michaela.mahrova@ostrava.cz">petra.teichmannova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443043">+420 599 443 085</a></span>
		</li>
		<li class="kontakt__item">
			<span class="kontakt__name">Mgr. Markéta Kročilová</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:lilien.lukasova@ostrava.cz">marketa.krocilova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443042">+420 599 442 395</a></span>
		</li>
		<li class="kontakt__item">
			<span class="kontakt__name">Simona Hrbáčová, DiS.</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:lilien.lukasova@ostrava.cz">simona.hrbacova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443042">+420 599 442 323</a></span>
		</li>
		<li class="kontakt__item">
			<span class="kontakt__name">Bc. Martina Tisoňová</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:lilien.lukasova@ostrava.cz">martina.tisonova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443042">+420 599 442 433</a></span>
		</li>
		<li class="kontakt__item">
			<span class="kontakt__name">Lucie Potschová</span>
			<span class="kontakt__email"
				>E-mail: <a href="mailto:lucie.potschova@ostrava.cz">lucie.potschova@ostrava.cz</a></span
			>
			<span class="kontakt__tel">Tel.: <a href="tel:420599443042">+420 599 442 287</a></span>
		</li>
	</ul>
</div>
