<footer>
	<div class="footer__boxs">
		<div class="footer__box">
			<ul role="list">
				<li><a href="">Aktuality</a></li>
				<li><a href="">Projekty města</a></li>
				<li><a href="">Příprava</a></li>
				<li><a href="">Zrealizováno</a></li>
				<li><a href="">Dotace</a></li>
			</ul>
		</div>
		<div class="footer__box">
			<ul role="list">
				<li><a href="">Akce</a></li>
				<li><a href="">Sportoviště a kluby</a></li>
				<li>
					<a href="">Pumptrack, workout a fitness hřiště</a>
				</li>
				<li><a href="">Zásady a cookies</a></li>
			</ul>
		</div>
		<div class="footer__box">
			<div class="footer__box__pack">
				<p>
					<strong>Magistrát města Ostravy</strong><br>
					Prokešovo náměstí 8<br>
					729 30 Ostrava
				</p>
				<p>
					<a
						href="tel:+420599444444"
						aria-label="Kontaktní číslo: +420 599 444 444"
						>+420 599 444 444</a
					>
				</p>
				<p>
					<a
						href="mailto:info@ostrava.cz"
						aria-label="Kontaktní email: info@ostrava.cz"
						>info@ostrava.cz</a
					>
				</p>
			</div>
		</div>
		<div class="footer__box">
			<div class="footer__box__pack">
				<p>
					<strong>Městské společnosti v oblasti sportu</strong>
				</p>
				<p>
					OSTRAVAR ARÉNA<br>
					<a
						href="https://arena-vitkovice.cz"
						>arena-vitkovice.cz</a
					>
				</p>
				<p>
					SAREZA<br>
					<a href="https://sareza.cz">sareza.cz</a>
				</p>
			</div>
		</div>
		<div class="footer__box">
			<div class="footer__box__pack">
				<a
					href=""
					aria-label="odkaz na oficiální web prezentaci Ostravy"
				>
					<img
						src="/images/svg/ostrava-logo.svg"
						alt="logo Ostrava"
					>
				</a>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		© 2018 - 2024 Copyright | Všechna práva vyhrazena - použití obsahu nebo jeho částí je možné pouze se souhlasem<a
			href="https://ostrava.cz"
			aria-label="oficiální stránky"
			>Magistrátu města Ostravy</a
		>. |<a href="">Prohlášení o přístupnosti</a>
	</div>
</footer>
