<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fajnovy sport</title>

	{% if templateDirectory != '' %}
		<link
			rel="preload"
			as="style"
			href="{{scriptDirectory}}/main.css?v={{ VERSION }}"
			onload=" this.onload = null; this.rel = 'stylesheet'; "
		>
		<noscript><link rel="stylesheet" href="{{scriptDirectory}}/main.css?v={{ VERSION }}"></noscript>
	{% endif %}
</head>
