<ul class="news__list" role="list">
	<li class="news__item">
		<img src="/images/news1.png" alt="">
		<time
			datetime="2024-10-14 6:17:00 AM"
			class="item__time"
		>
			<span class="item__day">sobota</span>
			<span class="item__date">26.10.2024</span>
		</time>
		<h2 class="item__title">
			<a href="">Ostrava pořádá první ročník mezinárodního maraton Emila Zátopka!</a>
		</h2>
	</li>
	<li class="news__item">
		<img src="/images/news2.png" alt="">
		<time
			datetime="2024-10-14 6:17:00 AM"
			class="item__time"
		>
			<span class="item__day">sobota</span>
			<span class="item__date">26.10.2024</span>
		</time>
		<h2 class="item__title">
			<a href="">Ostrava pořádá první ročník mezinárodního maraton Emila Zátopka!</a>
		</h2>
	</li>
	<li class="news__item">
		<img src="/images/news3.png" alt="">
		<time
			datetime="2024-10-14 6:17:00 AM"
			class="item__time"
		>
			<span class="item__day">sobota</span>
			<span class="item__date">26.10.2024</span>
		</time>
		<h2 class="item__title">
			<a href="">Ostrava pořádá první ročník mezinárodního maraton Emila Zátopka!</a>
		</h2>
	</li>
	<li class="news__item news__item--primary">
		<img src="/images/news4.png" alt="">
		<time
			datetime="2024-10-14 6:17:00 AM"
			class="item__time"
		>
			<span class="item__day">sobota</span>
			<span class="item__date">26.10.2024</span>
		</time>
		<h2 class="item__title">
			<a href="">Ostrava pořádá první ročník mezinárodního maraton Emila Zátopka!</a>
		</h2>
	</li>
</ul>
<div class="news__more">
	<a href="" class="news__link button">Zobrazit více akcí</a>
</div>
