<div class="sliders js-sliders">
	<div class="slider">
		<div class="slider__block">
			<img
				class="slider__img"
				src="/images/univerzal.png"
			>
			<div class="slider__red"></div>
			<div class="slider__orange"></div>
			<div class="slider__icona slider__icona--beh"></div>
		</div>
	</div>

	<div class="slider">
		<div class="slider__block slider__block--bezkyne">
			<img class="slider__img" src="/images/beh.jpg">
			<div class="slider__top"></div>
			<div class="slider__bottom"></div>
			<div class="slider__icona"></div>
		</div>
		<div class="slider__text slider__block--bezkyne">
			<h2>Ostrava pořádá první ročník mezinárodního maratonu Emila Zátopka!</h2>
			<a href="" class="slider__button">Číst více</a>
		</div>
	</div>

	<div class="slider">
		<div class="slider__block slider__block--bezec">
			<img class="slider__img" src="/images/beh.jpg">
			<div class="slider__top"></div>
			<div class="slider__bottom"></div>
			<div class="slider__icona"></div>
		</div>
		<div class="slider__text slider__block--bezec">
			<h2>Ostrava pořádá první ročník mezinárodního maratonu Emila Zátopka!</h2>
			<a href="" class="slider__button">Číst více</a>
		</div>
	</div>

	<div class="slider">
		<div class="slider__block slider__block--deti">
			<img class="slider__img" src="/images/beh.jpg">
			<div class="slider__top"></div>
			<div class="slider__bottom"></div>
			<div class="slider__icona"></div>
		</div>
		<div class="slider__text slider__block--deti">
			<h2>Ostrava pořádá první ročník mezinárodního maratonu Emila Zátopka!</h2>
			<a href="" class="slider__button">Číst více</a>
		</div>
	</div>
</div>
