<h1>Ostrava ve znamení běhu</h1>
<div class="thumb">
	<img
		src="/images/zatopek-thmub.jpg"
		class="thumbnail"
		alt="banner s pozvánkou na Emil Zátopek - Ostrava Golden Marathon 2024 - 26.10.2024"
	>
	<div class="publication">
		Autor:
		<a href="" class="publication__author"> admin </a>
		,
		<time datetime="2024-10-26" class="publication__date"> 26.října 2024 </time>
	</div>
	<div class="subpage__text">
		<p>
			V sobotu 26. října odstartuje 12. ročník Českého běhu žen spolu s premiérovým 1. ročníkem Zlatého maratonu
			Emila Zátopka Ostrava. To vše na Městském stadionu v Ostravě-Vítkovicích, tedy v areálu, kde pravidelně
			závodí nejlepší atleti světa, na němž tvořil rekordy Emil Zátopek i sprintoval legendární Usain Bolt.
		</p>
		<p>
			V rámci ČESKÉHO BĚHU ŽEN jsou v nabídce již tradiční závody pro ženy a dívky různého věku a výkonnosti: běh
			na 2,5 km nebo 5 km, běh týmů na 5 km nebo 2,5 km Nordic Walking pro ty, co běhat z různých důvodů nemohou.
			Registrace a více informací:
			<a href="https://www.ceskybehzen.cz/"> https://www.ceskybehzen.cz/ </a>
		</p>
		<p>
			Borci na tratích ZLATÉHO MARATONU EMILA ZÁTOPKA budou psát historii sportu v Ostravě – postaví se totiž na
			start zbrusu nového závodu, jehož trať povede světově unikátním areálem Dolních Vítkovic. Návštěvníci se
			mohou těšit na světovou běžeckou elitu ve startovním poli i bohatý doprovodný program. Registrace a
			kompletní informace: https://www.zatopekmarathon.com/
		</p>
		<p>
			Akce proběhnou za finanční podpory statutárního města Ostrava a současně pod záštitou Jana Dohnala,
			primátora města. Organizátorem akce je Sdružení sportovních klubů Vítkovice, z. s.
		</p>
		<h2>Podnadpis</h2>
		<p>
			V sobotu 26. října odstartuje 12. ročník Českého běhu žen spolu s premiérovým 1. ročníkem Zlatého maratonu
			Emila Zátopka Ostrava. To vše na Městském stadionu v Ostravě-Vítkovicích, tedy v areálu, kde pravidelně
			závodí nejlepší atleti světa, na němž tvořil rekordy Emil Zátopek i sprintoval legendární Usain Bolt.
		</p>
		<p>
			V rámci ČESKÉHO BĚHU ŽEN jsou v nabídce již tradiční závody pro ženy a dívky různého věku a výkonnosti: běh
			na 2,5 km nebo 5 km, běh týmů na 5 km nebo 2,5 km Nordic Walking pro ty, co běhat z různých důvodů nemohou.
			Registrace a více informací:
			<a href="https://www.ceskybehzen.cz/"> https://www.ceskybehzen.cz/ </a>
		</p>
		<ul>
			<li>v sobotu 26. října odstartuje 12. ročník Českého běhu žen</li>
			<li>v sobotu 26. října odstartuje 12. ročník Českého běhu žen</li>
			<li>v sobotu 26. října odstartuje 12. ročník Českého běhu žen</li>
			<li>v sobotu 26. října odstartuje 12. ročník Českého běhu žen</li>
			<li>v sobotu 26. října odstartuje 12. ročník Českého běhu žen</li>
		</ul>
		<p>
			V sobotu 26. října odstartuje 12. ročník Českého běhu žen spolu s premiérovým 1. ročníkem Zlatého maratonu
			Emila Zátopka Ostrava. To vše na Městském stadionu v Ostravě-Vítkovicích, tedy v areálu, kde pravidelně
			závodí nejlepší atleti světa, na němž tvořil rekordy Emil Zátopek i sprintoval legendární Usain Bolt.
		</p>
		<p>
			V rámci ČESKÉHO BĚHU ŽEN jsou v nabídce již tradiční závody pro ženy a dívky různého věku a výkonnosti: běh
			na 2,5 km nebo 5 km, běh týmů na 5 km nebo 2,5 km Nordic Walking pro ty, co běhat z různých důvodů nemohou.
			Registrace a více informací:
			<a href="https://www.ceskybehzen.cz/"> https://www.ceskybehzen.cz/ </a>
		</p>
		<table>
			<tr>
				<th></th>
				<th>Nadpis 1</th>
				<th>Nadpis 2</th>
				<th>Nadpis 3</th>
			</tr>
			<tr>
				<th>popis</th>
				<td>další text do tabulky</td>
				<td>další text do tabulky</td>
				<td>další text do tabulky</td>
			</tr>
			<tr>
				<th>popis</th>
				<td>další text do tabulky</td>
				<td>další text do tabulky</td>
				<td>další text do tabulky</td>
			</tr>
			<tr>
				<td>popis</td>
				<td>další text do tabulky</td>
				<td>další text do tabulky</td>
				<td>další text do tabulky</td>
			</tr>
			<tr>
				<th>popis</th>
				<td>další text do tabulky</td>
				<td>další text do tabulky</td>
				<td>další text do tabulky</td>
			</tr>
			<tr>
				<td>popis</td>
				<td>další text do tabulky</td>
				<td>další text do tabulky</td>
				<td>další text do tabulky</td>
			</tr>
		</table>
		<p>
			V sobotu 26. října odstartuje 12. ročník Českého běhu žen spolu s premiérovým 1. ročníkem Zlatého maratonu
			Emila Zátopka Ostrava. To vše na Městském stadionu v Ostravě-Vítkovicích, tedy v areálu, kde pravidelně
			závodí nejlepší atleti světa, na němž tvořil rekordy Emil Zátopek i sprintoval legendární Usain Bolt.
		</p>
		<p>
			V rámci ČESKÉHO BĚHU ŽEN jsou v nabídce již tradiční závody pro ženy a dívky různého věku a výkonnosti: běh
			na 2,5 km nebo 5 km, běh týmů na 5 km nebo 2,5 km Nordic Walking pro ty, co běhat z různých důvodů nemohou.
			Registrace a více informací:
			<a href="https://www.ceskybehzen.cz/"> https://www.ceskybehzen.cz/ </a>
		</p>
		<h3>Fotogalerie</h3>
		<div class="gallery">
			<div class="gallery__item">
				<img src="https://via.placeholder.com/600x400" alt="placeholder">
			</div>
			<div class="gallery__item">
				<img src="https://via.placeholder.com/600x400" alt="placeholder">
			</div>
			<div class="gallery__item">
				<img src="https://via.placeholder.com/600x400" alt="placeholder">
			</div>
			<div class="gallery__item">
				<img src="https://via.placeholder.com/600x400" alt="placeholder">
			</div>
			<div class="gallery__item">
				<img src="https://via.placeholder.com/600x400" alt="placeholder">
			</div>
			<div class="gallery__item">
				<img src="https://via.placeholder.com/600x400" alt="placeholder">
			</div>
		</div>
	</div>
</div>
