<div class="topmenu">
	<div class="topmenu__left">
		<div class="topmenu__logo">
			<a
				href="https://fajnovysport.cz"
				class="topmenu__logo__link"
				aria-label="Návrat na úvodní stránku"
			>
				<img
					src="{{templateDirectory}}/images/logo-fajnovysport.png"
					alt="logo fajnový sport - oficiální stránky města Ostravy v oblasti sportu"
					class="topmenu__logo__img"
				>
			</a>
		</div>
		<div class="topmenu__nav">
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item"><a class="nav__link" href="">Akce</a></li>
					<li class="nav__item"><a class="nav__link" href="">Dotace</a></li>
					<li class="nav__item"><a class="nav__link" href="">Projekty</a></li>
					<li class="nav__item"><a class="nav__link" href="">Kontakty</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="topmenu__right">
		<a href="" class="viewmap">
			<img src="{{templateDirectory}}/images/svg/map.svg" alt="Map" width="45" height="50">
			<span class="viewmap__text">Zobrazit mapu sportovišť</span>
		</a>
	</div>
</div>
