{% extends './layout.twig' %}

{% block content %}
	a
	<section class="block">
		<div class="block__container d-block my-404 text-center">
			<h1>{{ 'pageNotFound' | trans }}</h1>
			<p class="mb-4">
				{{ sorryPageNotFound | trans }}
			</p>
			<a href="{{ home_url }}" class="news__link button">
				{{ goBackHome | trans }}
			</a>
		</div>
	</section>
{% endblock %}
