{% extends './layout.twig' %}

{% block content %}
	<section class="subpage subpage--kontakty">
		{% include './components/contact.twig' %}
	</section>
	<section class="formular">
		{% include './components/form.twig' %}
	</section>
{% endblock %}
