<!doctype html>
<html lang="en">
	{% include './components/head.twig' %}

	<body data-controller="{{ controller }}" data-action="{{ action }}">
		{% include './components/header.twig' %}
		<main class="content" role="main">
			<section class="subpage subpage--kontakty">
				{% include './components/contact.twig' %}
			</section>
			<section class="formular">
				{% include './components/form.twig' %}
			</section>
		</main>
		{% include './components/footer.twig' %}
		<script type="module" src="/js/main.ts"></script>
	</body>
</html>
