@use '../global' as *;

.subpage {
	padding: 0.3158em 0 0;

	&--akce {
		margin: 0 auto;
		max-width: 43.6842rem; // 830px
		width: 100%;
	}

	.thumbnail {
		border: 1px solid var(--ov-footer-dark);
		height: auto;
		width: 100%;
	}

	p {
		font-weight: 400;
		line-height: 143.8%;
		margin: 0 0 1rem;
		/* stylelint-disable-next-line declaration-no-important */
		text-align: left !important;
	}

	p:has(+ h2),
	p:has(+ h3),
	p:has(+ h4),
	p:has(+ table) {
		margin-bottom: 2rem;
	}

	h1 {
		color: var(--ov-zaklad);
		font-size: 2.5263rem;
		font-weight: 700;
		line-height: 110.8%;
		margin: 1.25rem;
		text-align: center;
		text-transform: uppercase;
	}

	h2 {
		color: var(--ov-bgtext);
		font-size: 1.31rem; // 25em
		font-weight: 600;
		line-height: 143.8%;
		margin-bottom: 1rem;
		text-transform: uppercase;
	}

	table {
		border: 1px solid var(--ov-thtable);
		border-collapse: collapse;
		width: 100%;

		th,
		td {
			padding: 0.6842rem 0.8rem;
		}

		th {
			background-color: var(--ov-thtable);
			border: 2px solid var(--ov-bila);
			color: var(--ov-bila);
			font-weight: 700;
			line-height: 110.8%;
			text-align: center;
		}

		td {
			background-color: var(--ov-bgtable);
			border: 2px solid var(--ov-bila);
			line-height: 110.8%;
			text-align: left;
		}

		th:has(+ td) {
			background-color: var(--ov-bgtext);
		}
	}
}

.subpage--kontakty {
	margin: 0 auto 6.21rem;
	max-width: 70.95rem;
	width: 100%;

	h2 {
		border-bottom: 3px solid var(--ov-link);
		color: var(--ov-link);
		font-size: 2.5263rem;
		font-weight: 700;
		margin: 1.4375rem 0 0.8333rem;
		padding: 0 0.8333rem;
		text-transform: uppercase;
	}

	.kontakt__list {
		@include display-flex(row, wrap, center, flex-start, center);

		gap: 3%;
		list-style: none;
		margin: 0;
		padding: 0 2.1053rem;
		row-gap: 3.1rem;
	}

	.kontakt__item {
		flex-basis: 30%;
	}

	.kontakt__title {
		color: var(--ov-bgtext);
		display: block;
		font-size: 1.3158rem;
		font-weight: 700;
		min-height: 1.5rem;
	}

	.kontakt__name {
		color: var(--ov-bgtext);
		display: block;
		line-height: 143.8%;
	}

	.kontakt__email,
	.kontakt__tel {
		display: block;
		line-height: 143.8%;
	}
}
