.breadcrumbs {
	background-color: var(--ov-breadcrumbs);
	padding: 0.684rem 0;
	width: 100%;

	&__list {
		@include display-flex(row, wrap, center, flex-start, center);

		list-style: none;
		margin: 0 0 0 3.2105rem;
		padding: 0;
	}

	&__link {
		color: var(--ov-breadcrumbstext);
	}

	&__item {
		@include display-flex(row, wrap, center, flex-start, center);

		font-size: 0.8421rem; // 16px

		&--current {
			.breadcrumbs__link {
				text-decoration: none;
			}
		}

		span {
			color: var(--ov-breadcrumbstext);
			padding-left: 0.5rem; // 8px
			padding-right: 0.5rem;
		}
	}
}
