@use '../global' as *;

.icon {
	background-size: cover;
	display: block;
	height: 2.5rem;
	line-height: 1;
	margin: 0;
	padding: 0;
	width: 2.5rem;

	span {
		display: block;
		height: 2.5rem;
		width: 2.5rem;
	}

	&:focus-visible {
		outline: 0.125rem solid $white;
		padding: 0;
	}

	&__facebook {
		background-image: url('../images/svg/facebook.svg');

		&:hover {
			background-image: url('../images/svg/facebook--hover.svg');
		}
	}

	&__instagram {
		background-image: url('../images/svg/instagram.svg');

		&:hover {
			background-image: url('../images/svg/instagram--hover.svg');
		}
	}

	&__email {
		background-image: url('../images/svg/email.svg');

		&:hover {
			background-image: url('../images/svg/email--hover.svg');
		}
	}

	&--pin {
		background-image: url('../images/svg/map.svg');
		height: 3.125rem;
		width: 2.8125rem;

		&:hover {
			background-image: url('../images/svg/map--hover.svg');
		}
	}

	&__prev {
		background-image: url('../images/svg/arrow_left.svg');
		height: 3rem;
		width: 3rem;
	}

	&__next {
		background-image: url('../images/svg/arrow_right.svg');
		height: 3rem;
		width: 3rem;
	}

	&__play {
		background-image: url('../images/svg/play-circle.svg');
		height: 1.875rem;
		width: 1.875rem;
	}

	&__stop {
		background-image: url('../images/svg/pause-circle.svg');
		height: 1.875rem;
		width: 1.875rem;
	}
}
