.topmenu__nav {
	margin-right: 2em;
}

.nav {
	&__list {
		@include display-flex(row, wrap, center, flex-end, center);

		gap: 1em;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__link {
		align-items: center;
		color: var(--ov-black);
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem 1.5rem;
		text-decoration: none;
		text-transform: uppercase;

		&:hover,
		&.active {
			color: var(--ov-bgtext);
		}

		&::after {
			content: attr(data-text);
			font-weight: 700;
			height: 0;
			overflow: hidden;
			pointer-events: none;
			user-select: none;
			visibility: hidden;

			@media speech {
				display: none;
			}
		}
	}
}
