
.navi {
    width: 100%;
    @include displayflex(row, wrap, center, space-between, center);
    margin:
        bottom: 8.95em;

    .navi__link {
        font-size: 1.1579rem;
        color: var(--ov-bgtext);
        font-weight: 700;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}

.navi__left {
    .navi__link {
        padding:
            left: 3rem;
    }
}

.navi__right {
    .navi__link {
        padding:
            right: 3em;
    }
}
