.navi {
	@include display-flex(row, wrap, center, space-between, center);

	margin-bottom: 8.95rem;
	width: 100%;

	.navi__link {
		color: var(--ov-bgtext);
		font-size: 1.1579rem;
		font-weight: 700;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.navi__left {
	&__link {
		padding-left: 3rem;
	}
}

.navi__right {
	&__link {
		padding-right: 3em;
	}
}
