.news {
	width: 100%;

	&__list {
		@include display-flex(row, no-wrap, center, flex-start, center);

		grid-gap: 0.2813rem;
		list-style: none;
		margin: 0;
		padding-top: 1rem;
	}

	&__item {
		border-top: 8px solid var(--ov-actual);
		height: calc(((100% / 4) * 18.375rem) / 29.75rem);
		position: relative;
		width: calc(100% / 4);

		img {
			width: 100%;
		}
	}
}

.item {
	&__time {
		background-color: var(--ov-actual);
		color: var(--ov-bila);
		display: inline-block;
		left: 0;
		padding: 0.42rem 0.52rem;
		position: absolute;
		top: -1em;
	}

	&__day {
		border-bottom: 1px solid var(--ov-bila);
		display: block;
		font-size: 0.8947rem;
		font-weight: 600;
		line-height: 1.2941rem;
		padding-bottom: 0.3125rem;
		padding-left: 0.5882rem;
		padding-right: 0.5882rem;
	}

	&__date {
		display: block;
		font-size: 0.8421rem;
		font-weight: 600;
		line-height: 1.125rem;
		padding-left: 0.625em;
		padding-right: 0.625em;
		padding-top: 0.3125rem;
	}

	&__title {
		background-color: var(--ov-actual);
		bottom: 0;
		color: var(--ov-bila);
		font-size: 1rem;
		left: 0;
		line-height: 1.2rem;
		margin-bottom: 0;
		padding-bottom: 0.5263rem;
		padding-left: 1.5263rem;
		padding-right: 1.5263rem;
		position: absolute;
		width: 100%;

		a {
			color: var(--ov-bila);
			display: block;
			height: 100%;
			text-decoration: none;
			width: 100%;

			&:hover {
				background-color: var(--ov-bila);

				a {
					color: var(--ov-actual);
				}
			}
		}
	}
}

.news__item--primary {
	.item__title {
		background-color: var(--ov-priority);

		&:hover {
			background-color: var(--ov-bila);

			a {
				color: var(--ov-priority);
			}
		}
	}
}

.news__link {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1.1176rem;
	padding-left: 2.5882rem;
	padding-right: 2.5882rem;
}

.news__more {
	@include display-flex(row, wrap, center, center, center);

	padding-bottom: 1.8947rem;
	padding-top: 1.8947rem;
}
