@use '../global' as *;

.search {
	@include display-flex(row, wrap, center, flex-start, center);

	background-color: var(--ov-bila);
	border: 1px solid var(--ov-bila);
	height: 2.625rem;
	margin: 0.6875rem 0;

	&__label {
		left: -62499.9375rem;
		position: absolute;
	}
}

input.search__input {
	border: 0;
	border-radius: 0;
	font-size: $font-size-root;
	line-height: 2rem;
	outline: 0;
	padding-bottom: 0;
	padding-top: 0;
}

button.search__btn {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	margin-top: 0.125rem;
}

.search:has(input.search__input:focus-visible) {
	border: 0.0625rem solid var(--ov-black);
	outline: 0.125rem solid var(--ov-bila);
}
