@use "../abstract/variables" as variables 
@use "../abstract/mixin" as mixin
    
.search
    height: 2em
    border: 1px solid var(--ov-bila)
    background-color: var(--ov-bila)
    margin:
        top: 0.6316em // 12px
        bottom: 0.6316em
    @include mixin.displayflex(row, wrap, center, flex-start, center)

.search__label
    position: absolute
    left: -999999px

input.search__input
    border: 0
    outline: 0
    border-radius: 0
    line-height: calc(2em - 2px)
    padding: 
        top: 0
        bottom: 0

button.search__btn
    background-color: transparent
    border: 0
    cursor: pointer

.search:has(input.search__input:focus-visible)
    border: 1px solid var(--ov-black)
    outline: 2px solid var(--ov-bila)
    