@use '../global' as *;

$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default;

.#{$glide-class} {
	$this: &;
	$se: $glide-element-separator;
	$sm: $glide-modifier-separator;

	box-sizing: border-box;
	position: relative;
	width: 100%;

	* {
		box-sizing: inherit;
	}

	&#{$se}track {
		overflow: hidden;
	}

	&#{$se}slides {
		backface-visibility: hidden;
		display: flex;
		flex-wrap: nowrap;
		list-style: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		touch-action: pan-y;
		transform-style: preserve-3d;
		white-space: nowrap;
		width: 100%;
		will-change: transform;

		&#{$glide-modifier-separator}dragging {
			user-select: none;
		}
	}

	&#{$se}slide {
		flex-shrink: 0;
		height: 100%;
		user-select: none;
		white-space: normal;
		width: 100%;

		a {
			user-select: none;
		}
	}

	&#{$se}arrows {
		-webkit-touch-callout: none;
		user-select: none;
	}

	&#{$se}bullets {
		-webkit-touch-callout: none;
		user-select: none;
	}

	&#{$sm}rtl {
		direction: rtl;
	}
}

.#{$glide-class} {
	$this: &;
	$se: $glide-element-separator;
	$sm: $glide-modifier-separator;

	&#{$se}arrow {
		background-color: transparent;
		border: 0.125rem solid rgba($white, 0.5);
		border-radius: 0.25rem;
		box-shadow: 0 0.25em 0.5em 0 rgba($black, 0.1);
		color: $white;
		cursor: pointer;
		display: block;
		line-height: 1;
		opacity: 1;
		padding: 0.5625rem 0.75rem;
		position: absolute;
		text-shadow: 0 0.25em 0.5em rgba($black, 0.1);
		text-transform: uppercase;
		top: 50%;
		transform: translateY(-50%);
		transition:
			opacity 150ms ease,
			border 300ms ease-in-out;
		z-index: 2;

		&:focus {
			outline: none;
		}

		&:hover {
			border-color: $white;
		}

		&#{$sm}left {
			left: 2em;
		}

		&#{$sm}right {
			right: 2em;
		}

		&#{$sm}disabled {
			opacity: 0.33;
		}
	}

	&#{$se}bullets {
		bottom: 2em;
		display: inline-flex;
		left: 50%;
		list-style: none;
		position: absolute;
		transform: translateX(-50%);
		z-index: 2;
	}

	&#{$se}bullet {
		background-color: rgba($white, 0.5);
		border: 0.125rem solid transparent;
		border-radius: 50%;
		box-shadow: 0 0.25em 0.5em 0 rgba($black, 0.1);
		cursor: pointer;
		height: 0.5625rem;
		line-height: 0;
		margin: 0 0.25em;
		padding: 0;
		transition: all 300ms ease-in-out;
		width: 0.5625rem;

		&:focus {
			outline: none;
		}

		&:hover,
		&:focus {
			background-color: rgba($black, 0.5);
			border: 2px solid $white;
		}

		&#{$sm}active {
			background-color: $white;
		}
	}

	&#{$sm}swipeable {
		cursor: grab;
	}

	&#{$sm}dragging {
		cursor: grabbing;
	}
}
