@use "../abstract/variables" as variables 
@use "../abstract/mixin" as mixin

/* Slider */

.slick-slider 
    position: relative
    display: block
    box-sizing: border-box
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -ms-touch-action: pan-y
    touch-action: pan-y
    -webkit-tap-highlight-color: transparent

.slick-list 
    position: relative
    overflow: hidden
    display: block
    margin: 0
    padding: 0

    &:focus 
        outline: none
    

    &.dragging 
        cursor: pointer
        cursor: hand
    

.slick-slider .slick-track, .slick-slider .slick-list 
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


.slick-track 
    position: relative
    left: 0
    top: 0
    display: block
    margin-left: auto
    margin-right: auto

    &:before, &:after 
        content: ""
        display: table

    &:after 
        clear: both
    

    .slick-loading & 
        visibility: hidden
    

.slick-slide 
    float: left
    height: 100%
    min-height: 1px
    [dir="rtl"] & 
        float: right
    
    img 
        display: block
    
    &.slick-loading img 
        display: none
    

    display: none

    &.dragging img 
        pointer-events: none
    

    .slick-initialized & 
        display: block
    

    .slick-loading & 
        visibility: hidden
    

    .slick-vertical & 
        display: block
        height: auto
        border: 1px solid transparent
    

.slick-arrow.slick-hidden 
    display: none



    
$slick-font-path: "../fonts/" !default
$slick-font-family: "slick" !default
$slick-loader-path: "./" !default
$slick-arrow-color: white !default
$slick-dot-color: transparent !default
$slick-dot-color-active: $slick-dot-color !default
$slick-prev-character: "\2190" !default
$slick-next-character: "\2192" !default
$slick-dot-character: "\2022" !default
$slick-pause-character: "\23f8" !default
$slick-play-character: "\25b6" !default
$slick-dot-size: 6px !default
$slick-opacity-default: 1 !default
$slick-opacity-on-hover: 1 !default
$slick-opacity-not-active: 1 !default
$slick-opacity-active: 1 !default

/* Slider */

.slick-list 
    .slick-loading & 
        background: #fff url("../img/ajax-loader.gif") center center no-repeat
    


@if $slick-font-family == "slick" 
    @font-face 
        font-family: "slick"
        src: url("../fonts/slick.eot")
        src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg")
        font-weight: normal
        font-style: normal
    



.slick-prev 
    left: -25px
    [dir="rtl"] & 
        left: auto
        right: -25px
    

    .slick-prev-icon 
        &:before 
            content: '\2190'
            [dir="rtl"] & 
                content: '\2192'
            
        
    


.slick-next 
    right: -25px
    [dir="rtl"] & 
        left: -25px
        right: auto
    

    .slick-next-icon 
        &:before 
            content: '\2192'
            [dir="rtl"] & 
                content: '\2190'
            
        
    


/* Dots */

.slick-dotted.slick-slider 
    margin-bottom: 30px


.slick-dots 
    li 
        position: relative
        display: inline-block
        height: 20px
        width: 20px
        margin: 0 5px
        padding: 0
        cursor: pointer
        button 
            border: 0
            background: transparent
            display: block
            height: 20px
            width: 20px
            outline: none
            line-height: 0px
            font-size: 0px
            color: transparent
            padding: 5px
            cursor: pointer
            &:hover, &:focus 
                outline: none
                .slick-dot-icon 
                    opacity: $slick-opacity-on-hover
                
            
            .slick-dot-icon 
                color: $slick-dot-color
                opacity: $slick-opacity-not-active
                &:before 
                    position: absolute
                    top: 0
                    left: 0
                    content: $slick-dot-character
                    width: 20px
                    height: 20px
                    font-family: $slick-font-family
                    font-size: $slick-dot-size
                    line-height: 17px
                    text-align: center
                
        
.slick-sr-only 
    border: 0 !important
//    clip: rect(1px, 1px, 1px, 1px) !important
//    -webkit-clip-path: inset(50%) !important
//    clip-path: inset(50%) !important
    height: 1px !important
    // margin: -1px !important
    overflow: hidden !important
    padding: 0 !important
    position: absolute !important
    width: 1px !important
    white-space: nowrap !important


.slick-autoplay-toggle-button 
    position: absolute
    left: 5px
    bottom: 25px
    z-index: 10

    opacity: $slick-opacity-default
    background: none
    border: 0
    cursor: pointer

    &:hover, &:focus 
        outline: none
        opacity: $slick-opacity-on-hover
    

    .slick-pause-icon:before 
        content: $slick-pause-character
        width: 20px
        height: 20px
        font-family: $slick-font-family
        font-size: 16px
        line-height: 20px
        text-align: center
    

    .slick-play-icon:before 
        content: $slick-play-character
        width: 20px
        height: 20px
        font-family: $slick-font-family
        font-size: 16px
        line-height: 20px
        text-align: center
    

.slick-prev, .slick-next 
    position: absolute
    top: 50%
    display: block
    padding: 0
    height: 45px
    width: 45px
    border: 0
    line-height: 0
    font-size: 0
    cursor: pointer
    background: transparent
    color: transparent

    &:hover, &:focus 
        .slick-prev-icon, .slick-next-icon 
            opacity: $slick-opacity-active
    
    &:focus 
        
        .slick-prev-icon, .slick-next-icon 
            color: black
            font-size: 28px

    &.slick-disabled 
        cursor: default

    .slick-prev-icon, .slick-next-icon 
        opacity: $slick-opacity-not-active
  
    .slick-prev-icon, .slick-next-icon 
        display: block
        color: transparent
        opacity: $slick-opacity-default
        line-height: 1

.slick-prev 
    left: 10px
    z-index: 100

    [dir="rtl"] & 
        left: auto
        right: 10px
  
    .slick-prev-icon 
        &:before 
            content: ''
            background-image: url(../img/svg/prev.svg)
            background-repeat: no-repeat
            width: 45px
            height: 45px
            display: block

        [dir="rtl"] & 
            content: ''
            background-image: url(../img/svg/prev.svg)
            background-repeat: no-repeat
            width: 45px
            height: 45px
            display: block  
            transform: rotate(180deg)                   
      
.slick-next 
    right: 35px

    [dir="rtl"] & 
        left: 35px
        right: auto
  

    .slick-next-icon 
        &:before 
            content: ''
            background-image: url(../img/svg/prev.svg)
            background-repeat: no-repeat
            width: 45px
            height: 45px
            display: block   
            transform: rotate(180deg)

        [dir="rtl"] & 
            content: ''
            background-image: url(../img/svg/prev.svg)
            background-repeat: no-repeat
            width: 45px
            height: 45px
            display: block         

.slick-slider 
    margin-bottom: 30px

    &.slick-dotted 
        margin-bottom: 60px
  
.slick-dots 
    position: absolute
    bottom: 20px

    display: block
    padding: 0
    margin: 0
    width: 100%

    list-style: none
    text-align: center

    li 
        position: relative
        display: inline-block
        margin: 0 5px
        padding: 0

    button 
        display: block
        height: 20px
        width: 20px
        margin-top: -4px
        margin-left: -4px

        line-height: 0px
        font-size: 0px
        color: transparent
        border: 0
        background: transparent
        cursor: pointer


        &:hover, &:focus 
            .slick-dot-icon 
                opacity: $slick-opacity-active
        
      

        &:focus 
            .slick-dot-icon:before 
                color: black

        .slick-dot-icon 
            color: transparent
            opacity: $slick-opacity-not-active

            &:before 
                position: absolute
                top: 0
                left: 0
                content: ''
                width: 11px
                height: 11px
                border: 2px solid var(--ov-actual)
                border-radius: 50%
                background-color: var(--ov-bila)
                font-family: $slick-font-family
                font-size: $slick-dot-size
                line-height: 1
                text-align: center

                transition: all .05s linear
        
    li.slick-active 
        button 
            &:focus 
                .slick-dot-icon 
                    color: black
                    opacity: 1

        .slick-dot-icon 
            color: $slick-dot-color-active
            opacity: $slick-opacity-active

            &:before 
                border: 2px solid var(--ov-bila)
                border-radius: 50%
                background-color: var(--ov-actual)


.slick-sr-only 
    border: 0 !important
//    clip: rect(1px, 1px, 1px, 1px) !important
//    -webkit-clip-path: inset(50%) !important
//    clip-path: inset(50%) !important
    height: 1px !important
//    margin: -1px !important
    overflow: hidden !important
    padding: 0 !important
    position: absolute !important
    width: 1px !important
    white-space: nowrap !important

.slick-autoplay-toggle-button 
    position: absolute
    left: 5px
    bottom: 25px
    z-index: 10
    display: flex
    flex-wrap: wrap
    align-content: center
    justify-content: flex-start
    align-items: flex-start
    gap: 3px
    opacity: $slick-opacity-default
    background: none
    border: 0
    cursor: pointer
    color: $slick-arrow-color

    &:hover, &:focus 
        opacity: $slick-opacity-active
  

    &:focus-visible 
        color: black
  

    .slick-pause-icon:before 
        content: $slick-pause-character
        width: 20px
        height: 20px
        font-family: $slick-font-family
        font-size: 18px
        font-weight: normal
        line-height: 20px
        text-align: center
  

    .slick-play-icon:before 
        content: $slick-play-character
        width: 20px
        height: 20px
        font-family: $slick-font-family
        font-size: 18px
        font-weight: normal
        line-height: 20px
        text-align: center
  
        