@use '../global' as *;

.topmenu {
	@include display-flex(row, nowrap, center, center, space-between);

	grid-gap: 0;
	width: 100%;
}

.topmenu__left {
	@include display-flex(row, wrap, center, space-between, center);

	width: calc(100% - 16.8421rem - 1.2632rem);
}

.topmenu__logo {
	padding-left: 3.8125rem;

	@include media-bp-up(md) {
		padding-left: 1em;
	}

	&__link {
		display: block;
	}

	&__img {
		display: block;
		padding-bottom: 0.4737rem;
		padding-top: 0.4737rem;
	}
}

.topmenu__nav {
	margin-right: 1.3125rem;
}

.topmenu__right {
	@include display-flex(row, wrap, center, flex-start, center);

	background-color: var(--ov-bgtext);
	color: var(--ov-bila);
	width: 22.7rem;
}
