.topmenu {
	@include mixin.displayflex(row, wrap, center, space-between, center);

	align-items: stretch;
	grid-gap: 0;
	width: 100%;
}

.topmenu__left {
	@include mixin.displayflex(row, wrap, center, space-between, center);

	width: calc(100% - 16.8421rem - 1.2632rem);
}

.topmenu__logo {
	padding-left: 3.2105rem;

	@include media-bp-up(md) {
		padding-left: 1em;
	}

	a.topmenu__logo__link {
		display: block;

		img {
			display: block;
			padding-bottom: 0.4737rem;
			padding-top: 0.4737rem;
		}
	}
}

.topmenu__right {
	@include mixin.displayflex(row, wrap, center, flex-start, center);

	background-color: var(--ov-bgtext);
	color: var(--ov-bila);
	width: calc(16.8421em + 1.2632em);
}
