.viewmap {
	@include mixin.display-flex(row, wrap, center, flex-start, center);

	color: var(--ov-bila);
	font-size: 0.9473rem;
	grid-gap: 0.5em;
	padding-left: 1.1579rem;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
	}

	&__text {
		color: var(--ov-bila);
		font-weight: 700;
		text-decoration: none;
	}
}
